* {
    margin: 0;
    cursor: context-menu;
}

body {
    position: relative;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

.clr{
    clear: both;
}

.container1{
    width: 90%;
    margin: auto;
    overfloW: hidden;
}

.container2{
    width: 80%;
    margin: auto;
    overfloW: hidden;
}

.container2 h1{
    font-size: 2.1em;
    word-spacing: 0.1em;
    line-height: 1em;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color:  #e6e6e6;
    cursor: auto;
    padding: 15px;
    box-shadow: 0 2px 2px 2px #ccc;
}

 .nav-contents {
    display: inline;
}

.btn{
    font-size: 16px;
    padding: 5px 18px;
    cursor: pointer;
    float: right;
    border: none;
    background-color: #e6e6e6;  
}

.btn:hover {
background-color:  #ddd;
border-radius: 25px;
}

#intro{
    margin: 80px 0;

}

#intro .icon-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#intro i{
    font-size: 5em;
    margin: 40px 80px;
    position: relative;
}

#intro h1{
    text-align: center;
}

#get-started{
    background-color: black;
    color: white;
    padding: 10px 40px;
    border: none;
    display: flex;
    text-align: center;
    margin: 30px 0;
    position: absolute;
    left: 50%;
    font-size: 16px;
    transform: translateX(-50%);
}

#get-started:hover {
    background-color: rgba(0,0,0,0.8);
}

#review-section{
    text-align: center;
    margin: 130px auto;
}

.block{
    float: left;
    width: 50%;
}
.block1{
    text-align: center;
    float: left;
    width: 40%;
    padding: 50px;
    box-sizing: border-box;
}

.block2 {
    float: right;
    width: 58%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    max-height: 15em;
}
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }

  .slide {
    display: none;
    padding: 3.5rem;
    text-align: center;
  }
  
  /* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    border: none;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 12px;
}

footer .container1 {
    margin-bottom: 8px;
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

footer li {
    display: inline;
    padding: 4px 7px;
}

footer li:hover {
    color: #e3e6e8;
    cursor: pointer;
    text-decoration: underline;
   
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer a:active {
    color: black;
}

.footer-label {
    display: block;
}

.social {
    margin: 0 10px;
    width: 33px;
    height: 33px;
    font-size: 15px;
    text-align: center;
    padding: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 50%;
    text-decoration: none;
    background: black;
    cursor: pointer;
  }

  .social:hover {
    opacity: 0.7;
  }

@media (max-width: 750px) {
    .block1{
        width: 100%;
        float: none;
    }

    .block2{
        width: 100%;
        float: none;
    }

    #intro i{
        font-size: 3em;
        margin: 40px 25px;
    }

    #review-section{
       margin: 55px auto;
    }
}

