* {
    margin: 0;
}

header .nav {
    text-justify:auto;
    background-color:  #F8F9F9;
    cursor: auto;
}
.nav-contents {
    padding: 10px;
    padding-left: 20px;
    margin:auto;
}

#signUp {
    float: right;
    padding: 3px 15px;
    border: none;
    cursor: pointer;
    background-color: #F8F9F9;
}

#signUp:hover {
background-color: #e3e6e8;
border-radius: 25px;
}

header h2 {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 16px;
}

footer {
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-color: black;
    color: white;
}

footer li {
    list-style: none;
    display: inline-block;
}