*{
    margin: 0; 
  box-sizing: border-box;   
}

.container{
  width: 80%;
  margin: 0 auto;
    max-width: max-content;
}

.about{
    padding: 0 auto;
    padding: 3rem;
    font-size: 2rem;
}

.about div {
    padding-bottom: 2em;
}