#books-list{
    position: fixed;
    padding-top: 3.5em;
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    border-right: 1px black solid;
    box-sizing: border-box;
}

#books-list section{
    padding: 5px;
}

#book-view{
    box-sizing: border-box;
    padding: 5px;
    padding-top: 3.5em;
    height: 100%;
    right: 0;
    width: 60%;
    position: fixed;
    z-index: 1;
}

#read-nav{ 
    box-sizing: border-box;
    background-color:  #e6e6e6;
    text-align: center;
}

.read-tab{
    background-color: #e6e6e6;
    border: none;
    cursor: pointer;
    padding: 14px 18px;
    font-size: 1.5rem;
    width: 25%;
}